.TreeNode-arrow {
    display: inline-block;
    width: 20px;
    /*margin-left: -20px;*/
    color: #55595C;
}

.TreeNode-list {
    list-style: none;
    white-space: nowrap;
    padding-left: 25px;
}

.TreeNode-margin {
    margin-top: 5px;
}

.TreeNode-form {
    padding-left: 20px;
    border-left: 1px solid rgba(0, 0, 0, 0.15);
}

.TreeNode-button {
    display: inline-block;
    padding: 0 0.3rem;
    color: #55595C;
}

.TreeNode-line {
    display: inline-flex;
    text-decoration: none;
    border-left: 1px solid rgba(0, 0, 0, 0.15);
    padding-left: 5px;
    padding-right: 10px;
}

.TreeNode-line:hover, .TreeNode-line:focus {
    cursor: pointer;
    text-decoration: none;
    outline: none;
}

.TreeNode-button:hover, .TreeNode-button:focus {
    cursor: pointer;
}

.TreeNode-key {
    color: #881280;
}

.TreeNode-object, .TreeNode-array {
    color: #212121
}

.TreeNode-number, .TreeNode-boolean {
    color: #1C00CF;
}

.TreeNode-string {
    color: #C41A16;
}

.TreeNode-flex {
    display: flex;
}

.TreeNode-wrap {
    white-space: normal;
}
